.lunch-checker {
  font-size: 1.2em;
}

.lunchItems {
  height: 30px;
  padding: 0 10px;
  width: 450px;
}

.message-bordered {
  border-radius: 8px;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 40px;
}

.info {
  border: 1px solid #0f0;
  color: #0f0;
}

.warning {
  border: 1px solid #f00;
  color: #f00;
}

.btn {
  background-color: #09f;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 36px;
}
